.card{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.image{
    flex: 1;
    background-color: gray;
}

.texts{
    flex: 2;
    background-color: black;
}