nav{
    background-color: #05111f;
    padding: 20px 0;
    
}


.css-nav-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    background-color: #fff;
    height: 40px;
    display: grid;
    place-items: center;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

li{
    text-decoration: none;
}