.project{
    height: 300px;
    background-color: gray;
    flex-basis: 17%;
    max-width: 250px;
    display: grid;
    place-items: center;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem 0 3rem;
    border-radius: 10px;
}